SAR_WF1_Principal:/SAR_WF1_Principal.json
{
  "name": "SAR",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30",
          "mode": "list",
          "cachedResultName": "SAR - Gestión de Guardias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1927336098,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit#gid=1927336098"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -160
      ],
      "id": "7e4dd7de-49ff-4a2f-be47-d8e305746a7e",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "5NBhbB0IdfMoW0ZJ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e635de4-c0ce-49cc-95d6-4c9575ae2202",
              "leftValue": "={{ $json.puedeCubrir }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        -352
      ],
      "id": "030514ae-1c68-448e-98d9-798b4c3df4da",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Toma datos del trigger\nconst item = $input.first().json;\n\nconst nombreSolicitante = item[\"Nombre y apellido\"];\nconst motivo = item[\"Motivo de la licencia\"];\nconst diaGuardia = item[\"¿Qué día de la semana es tu guardia fija?\"]\n  .toUpperCase()\n  .normalize(\"NFD\")\n  .replace(/[\\u0300-\\u036f]/g, \"\"); // Elimina tildes y minusculas\n\nconst fechaInicio = new Date(\n  item[\"Fecha de INICIO de la licencia\"]\n    .split(\"/\").reverse().join(\"-\") // \"11/05/2026\" → \"2026-05-11\"\n);\nconst fechaFin = new Date(\n  item[\"Fecha de FIN de la licencia\"]\n    .split(\"/\").reverse().join(\"-\")\n);\n\n// Mapa de días\nconst diasSemana = {\n  \"LUNES\": 1, \"MARTES\": 2, \"MIERCOLES\": 3,\n  \"JUEVES\": 4, \"VIERNES\": 5, \"SABADO\": 6, \"DOMINGO\": 0\n};\n\nconst numeroDia = diasSemana[diaGuardia];\n\n// Busca todas las fechas que caen en ese día dentro del rango\nconst guardiasEncontradas = [];\nconst cursor = new Date(fechaInicio);\n\nwhile (cursor <= fechaFin) {\n  if (cursor.getDay() === numeroDia) {\n    guardiasEncontradas.push(cursor.toISOString().split(\"T\")[0]); // \"2026-05-12\"\n  }\n  cursor.setDate(cursor.getDate() + 1);\n}\n\nreturn [{\n  json: {\n    solicitante: nombreSolicitante,\n    motivo: motivo,\n    diaGuardia: diaGuardia,\n    guardiasPendientes: guardiasEncontradas,\n    totalGuardias: guardiasEncontradas.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -160
      ],
      "id": "57527ef6-de42-40e3-904f-899bf3c31b90",
      "name": "Expandir Fechas"
    },
    {
      "parameters": {
        "jsCode": "// Datos del primer Node Code (guardias)\nconst solicitud = $('Expandir Fechas').first().json;\nconst diaGuardia = solicitud.diaGuardia;\nconst guardiasPendientes = solicitud.guardiasPendientes;\n\n// Todos los profesionales del Google Sheets\nconst profesionales = $input.all().map(item => item.json);\n\n// Filtro: ACTIVO, que tenga el día en su DISPONIBILIDAD y que NO sea el solicitante\nconst candidatos = profesionales\n  .filter(p => {\n    if (p.ESTADO !== \"ACTIVO\") return false;\n    if (p.NOMBRE === solicitud.solicitante) return false; // Excluir al solicitante\n    const diasDisponibles = p.DISPONIBILIDAD.split(\",\").map(d => d.trim());\n    return diasDisponibles.includes(diaGuardia);\n  })\n  .sort((a, b) => a.PRIORIDAD - b.PRIORIDAD);\n\nreturn [{\n  json: {\n    solicitante: solicitud.solicitante,\n    motivo: solicitud.motivo,\n    diaGuardia: diaGuardia,\n    guardiasPendientes: guardiasPendientes,\n    totalGuardias: guardiasPendientes.length,\n    candidatos: candidatos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        48
      ],
      "id": "aac8088f-7ee3-4b71-be5d-c9db9233160e",
      "name": "Filtrar Candidatos"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Formateamos todas las fechas pendientes a DD/MM/YYYY\nconst guardiasPendientesFormateadas = data.guardiasPendientes.map(fecha => {\n  const [anio, mes, dia] = fecha.split(\"-\");\n  return `${dia}/${mes}/${anio}`;\n});\n\n// La primera fecha formateada para referencia\nconst fechaFormateada = guardiasPendientesFormateadas[0];\nconst fechaOriginal = data.guardiasPendientes[0];\n\nreturn [{\n  json: {\n    fecha: fechaFormateada,\n    fechaOriginal: fechaOriginal,\n    solicitante: data.solicitante,\n    motivo: data.motivo,\n    diaGuardia: data.diaGuardia,\n    totalGuardias: data.totalGuardias,\n    guardiasPendientes: guardiasPendientesFormateadas,\n    guardiasPendientesISO: data.guardiasPendientes,\n    candidatos: data.candidatos,\n    indiceCandidato: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        48
      ],
      "id": "61b8c987-4991-425f-85af-ffd442cacc9d",
      "name": "Split Fechas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://TU-N8N-DOMINIO.com/webhook/sar-rechazo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fecha\": \"{{ $json.fecha }}\",\n  \"diaGuardia\": \"{{ $json.diaGuardia }}\",\n  \"solicitante\": \"{{ $json.solicitante }}\",\n  \"motivo\": \"{{ $json.motivo }}\",\n  \"totalGuardias\": {{ $json.totalGuardias }},\n  \"indiceCandidato\": 0,\n  \"candidatos\": {{ $json.candidatos.toJsonString() }},\n  \"guardiasPendientes\": {{ $json.guardiasPendientes.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1936,
        -144
      ],
      "id": "1c77bb05-8669-44d7-a13b-ec48d8a94024",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30",
          "mode": "list",
          "cachedResultName": "SAR - Gestión de Guardias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Profesionales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 3,
              "firstDataRow": 4
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -160
      ],
      "id": "d8962eaf-b699-402f-bb0a-0a886e5e1510",
      "name": "Leer Profesionales",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2QbdOt7ZPQPvWUtm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30",
          "mode": "list",
          "cachedResultName": "SAR - Gestión de Guardias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 658459483,
          "mode": "list",
          "cachedResultName": "Estado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit#gid=658459483"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CLAVE": "indiceCandidato",
            "VALOR": "0"
          },
          "matchingColumns": [
            "CLAVE"
          ],
          "schema": [
            {
              "id": "CLAVE",
              "displayName": "CLAVE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        48
      ],
      "id": "97b4672d-9ca3-4eee-9bc8-ed8e3982fc6a",
      "name": "Reset Indice",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2QbdOt7ZPQPvWUtm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30",
          "mode": "list",
          "cachedResultName": "SAR - Gestión de Guardias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 563825573,
          "mode": "list",
          "cachedResultName": "Reemplazos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit#gid=563825573"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA": "={{ $json.fecha }}",
            "DIA": "={{ $json.diaGuardia }}",
            "CUBIERTO POR": "={{ $json.nombreCandidato }}",
            "SOLICITANTE": "={{ $json.solicitante }}",
            "MOTIVO": "={{ $json.motivo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CUBIERTO POR",
              "displayName": "CUBIERTO POR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SOLICITANTE",
              "displayName": "SOLICITANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2608,
        -528
      ],
      "id": "963c9696-48cc-4ad2-ac29-a21f561b1983",
      "name": "Registrar Reemplazo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2QbdOt7ZPQPvWUtm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30",
          "mode": "list",
          "cachedResultName": "SAR - Gestión de Guardias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Profesionales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juc4ZbUW9ogpmBDM_a0WOxee_wYtU3TikUsc8nyiW30/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=NOMBRE",
              "lookupValue": "={{ $('Procesar Respuesta').first().json.solicitante }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 3,
              "firstDataRow": 4
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -528
      ],
      "id": "d7bf7cfa-c995-4de4-b676-c28723bdbf04",
      "name": "Buscar Solicitante",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2QbdOt7ZPQPvWUtm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Split Fechas').first().json.candidatos[0][\"ID TELEGRAM\"] }}",
        "message": "=👋 Hola {{ $('Split Fechas').first().json.candidatos[0].NOMBRE }}!\n\n🏥 El servicio de Salud Mental necesita cobertura para {{ $json.totalGuardias }} guardia(s) del día {{ $json.diaGuardia }}.\n\n📋 Por favor seleccioná las fechas que podés cubrir y confirmá tu respuesta.",
        "responseType": "customForm",
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"¿Qué fechas podés cubrir?\",\n    \"fieldType\": \"checkbox\",\n    \"fieldOptions\": {\n      \"values\": {{ $('Split Fechas').first().json.guardiasPendientes.map(f => ({ option: f })) }}\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"¿Podés cubrir alguna?\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"Sí, las seleccionadas arriba\" },\n        { \"option\": \"No puedo cubrir ninguna\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 6
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        48
      ],
      "id": "4bf52cda-e00b-46d8-824b-fb880211ab39",
      "name": "Preguntar y esperar",
      "webhookId": "a3bc5367-8844-49f5-b944-d4aae11ed7a8",
      "credentials": {
        "telegramApi": {
          "id": "x4w5jFHgm3aX2t7o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.candidatos[0][\"ID TELEGRAM\"] }}",
        "text": "=✅ Confirmado. Quedaste registrado/a como reemplazo para las siguientes guardias:\n\n📅 {{ $json.fechasAceptadas.join('\\n📅 ') }}\n📆 Día: {{ $json.diaGuardia }}\n\nMuchas gracias por tu disponibilidad.\n\n——\nSAR — HIGA Eva Perón",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        -528
      ],
      "id": "3d69cb62-02a9-4967-9445-db02880ca9ea",
      "name": "Reemplazo Registrado",
      "webhookId": "cd87f3d3-4ca9-41c7-9cdc-d36d3c1f0a15",
      "credentials": {
        "telegramApi": {
          "id": "x4w5jFHgm3aX2t7o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"ID TELEGRAM\"] }}",
        "text": "=✅ Tus guardias del {{ $('Procesar Respuesta').first().json.diaGuardia }} quedaron cubiertas por {{ $('Procesar Respuesta').first().json.nombreCandidato }}:\n\n📅 {{ $('Procesar Respuesta').first().json.fechasAceptadas.join('\\n📅 ') }}\n\n{{ $('Procesar Respuesta').first().json.fechasRestantes.length > 0 ? '⏳ Aún quedan pendientes:\\n📅 ' + $('Procesar Respuesta').first().json.fechasRestantes.join('\\n📅 ') : '🎉 ¡Todas tus guardias quedaron cubiertas!' }}\n\n——\nSAR — HIGA Eva Perón",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        -528
      ],
      "id": "7c33d87a-9a99-4415-a987-bbc47fce02ba",
      "name": "Ya estas cubierto",
      "webhookId": "81908777-6049-42bf-b6a0-a1d7db4e40b4",
      "credentials": {
        "telegramApi": {
          "id": "x4w5jFHgm3aX2t7o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tu-email@gmail.com",
        "subject": "=✅ SAR — Guardia cubierta para el {{ $('Split Fechas').first().json.fecha }}",
        "emailType": "text",
        "message": "=Estimados,\n\nEl Sistema SAR informa que las siguientes guardias quedaron cubiertas:\n\n📅 Fechas: {{ $('Procesar Respuesta').first().json.fechasAceptadas.join(', ') }}\n📆 Día: {{ $('Procesar Respuesta').first().json.diaGuardia }}\n👤 Profesional ausente: {{ $('Procesar Respuesta').first().json.solicitante }}\n✅ Cubierta por: {{ $('Procesar Respuesta').first().json.nombreCandidato }}\n📋 Motivo: {{ $('Procesar Respuesta').first().json.motivo }}\n⏳ Fechas aún pendientes: {{ $('Procesar Respuesta').first().json.fechasRestantes.join(', ') }}\n\n——\nEste mensaje fue enviado automáticamente por el SAR\nServicio de Salud Mental — HIGA Eva Perón de San Martín",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2112,
        -528
      ],
      "id": "0950995e-b903-4e79-80b1-035d52e41092",
      "name": "Notificar Jefatura/Secretaria",
      "webhookId": "b5fea4e1-fac4-471a-9f54-0a141ca9127b",
      "credentials": {
        "gmailOAuth2": {
          "id": "BXsLW2ReWOLuKJkP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const respuesta = $input.first().json.data;\nconst contexto = $('Split Fechas').first().json;\n\nconst fechasAceptadas = respuesta['¿Qué fechas podés cubrir?'] || [];\nconst puedeCubrir = respuesta['¿Podés cubrir alguna?'] === 'Sí, las seleccionadas arriba';\n\n// Fechas que quedan sin cubrir\nconst fechasRestantes = contexto.guardiasPendientes.filter(f => !fechasAceptadas.includes(f));\n\nreturn [{\n  json: {\n    puedeCubrir: puedeCubrir,\n    fechasAceptadas: fechasAceptadas,\n    fechasRestantes: fechasRestantes,\n    solicitante: contexto.solicitante,\n    motivo: contexto.motivo,\n    diaGuardia: contexto.diaGuardia,\n    totalGuardias: contexto.totalGuardias,\n    candidatos: contexto.candidatos,\n    indiceCandidato: contexto.indiceCandidato,\n    nombreCandidato: contexto.candidatos[0].NOMBRE\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -176
      ],
      "id": "154caf45-095a-42bf-92c7-92ab97c61592",
      "name": "Procesar Respuesta"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Procesar Respuesta').first().json;\n\nreturn data.fechasAceptadas.map(fecha => ({\n  json: {\n    fecha: fecha,\n    diaGuardia: data.diaGuardia,\n    nombreCandidato: data.nombreCandidato,\n    solicitante: data.solicitante,\n    motivo: data.motivo,\n    fechasRestantes: data.fechasRestantes,\n    candidatos: data.candidatos\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        -528
      ],
      "id": "73160ef4-f2f8-48bb-a697-370a5c950764",
      "name": "Expandir Fechas Aceptadas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1eb2bacb-b022-43fd-87a7-6597393fec2e",
              "leftValue": "={{ $('Procesar Respuesta').first().json.fechasRestantes.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2560,
        32
      ],
      "id": "bb11e85e-7dbb-47f7-baaf-0a9a0a6b87bc",
      "name": "¿Quedan Fechas?"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Procesar Respuesta').first().json;\nconst fechasRestantes = data.fechasRestantes;\n\nreturn [{\n  json: {\n    fecha: fechasRestantes[0],\n    diaGuardia: data.diaGuardia,\n    solicitante: data.solicitante,\n    motivo: data.motivo,\n    totalGuardias: fechasRestantes.length,\n    indiceCandidato: 0,\n    candidatos: data.candidatos,\n    guardiasPendientes: fechasRestantes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -144
      ],
      "id": "361d057a-b8a4-4214-8cf8-08940d240257",
      "name": "Preparar Escalado"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3024,
        48
      ],
      "id": "6b26ea45-74a6-4698-9771-73e17d655428",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "chatId": "={{ $('Buscar Solicitante').first().json[\"ID TELEGRAM\"] }}",
        "text": "=🎉 ¡Todas tus guardias del {{ $('Procesar Respuesta').first().json.diaGuardia }} quedaron cubiertas!\n\nNo necesitás hacer ninguna gestión adicional.\n\n——\nSAR — HIGA Eva Perón",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        48
      ],
      "id": "5467c012-e0ab-4d5e-966b-ed5840ce9321",
      "name": "Todas Cubiertas",
      "webhookId": "8fee9cf4-965e-4ee1-854e-9982106645b0",
      "credentials": {
        "telegramApi": {
          "id": "x4w5jFHgm3aX2t7o",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Expandir Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Reemplazo Registrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Escalado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Fechas": {
      "main": [
        [
          {
            "node": "Leer Profesionales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Candidatos": {
      "main": [
        [
          {
            "node": "Split Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Fechas": {
      "main": [
        [
          {
            "node": "Reset Indice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Leer Profesionales": {
      "main": [
        [
          {
            "node": "Filtrar Candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Indice": {
      "main": [
        [
          {
            "node": "Preguntar y esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Reemplazo": {
      "main": [
        [
          {
            "node": "¿Quedan Fechas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Solicitante": {
      "main": [
        [
          {
            "node": "Ya estas cubierto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preguntar y esperar": {
      "main": [
        [
          {
            "node": "Procesar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reemplazo Registrado": {
      "main": [
        [
          {
            "node": "Buscar Solicitante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ya estas cubierto": {
      "main": [
        [
          {
            "node": "Notificar Jefatura/Secretaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Fechas Aceptadas": {
      "main": [
        [
          {
            "node": "Registrar Reemplazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Quedan Fechas?": {
      "main": [
        [
          {
            "node": "Preparar Escalado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Todas Cubiertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Escalado": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Jefatura/Secretaria": {
      "main": [
        [
          {
            "node": "Expandir Fechas Aceptadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todas Cubiertas": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "908cc62bc798b9e4b28d1b97cb5801d43ffdc3cba96980c3bf629dd426dbf381"
  },
  "tags": []
}